Source: asks
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/theelous3/asks

Package: python3-asks
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: asks - async http
 asks is an async http lib for curio and trio

